snippet component "new component" b
var ${1:ComponentName} = function(${2:root}){

	this.elements: {
		'root': $(${2})
	}

	this.init = function(){

		console.log(${1})
		this.attach_events();

	}

	this.attach_events = function(){
		var _this = this;

	}

	this.init();
}
endsnippet

snippet componentfunction "new component function" b
this.${1:func_name} = function(){

}
endsnippet
